/*
body{
  background-color:black;
}
#video{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
*/

.video-list li{
	list-style-type:none;
}

.video-list li:hover {
	border-radius:3px;
	background-color:#e7efff;
	color: #ffa000;
}

.lapse {
	cursor: not-allowed;
    color: #cfd0d3;
}